name: Minishell Actions
run-name: Building ${{ github.repository }}
on:
    push:
        branches: [master]
    pull_request:
        branches: [master]
jobs:
    Minishell-Compliation:
        runs-on: macos-10.15
        steps:
          - run: echo "This job is running on ${{ runner.os }} server by Github."
          - run: echo "Triggered by ${{ github.event_name }}."
          - run: echo "On Branch ${{ github.ref }}."
          - run: echo "In Repository ${{ github.repository }}"
          - uses: actions/checkout@v3
          - name: Extract and install GNU readline library
            run: make readline
          - name: Compile Minishell
            run: make mini
          - run: echo "Status - ${{ job.status }}."
