name: Minishell Actions
run-name: Building ${{ github.repository }}
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
jobs:
    Minishell-Compliation:
      runs-on: ubuntu-latest
      steps:
        - run: echo "This job is running on ${{ runner.os }} server by Github."
        - run: echo "Triggered by ${{ github.event_name }}."
        - run: echo "On Branch ${{ github.ref }}."
        - run: echo "In Repository ${{ github.repository }}"
        - uses: actions/checkout@v3
        - name: Extract and install GNU readline library
          run: make -j readline
        - name: Compile Minishell
          run: make -j mini
        - name: Install expect
          run: sudo apt-get install expect
        - name: Test minishell
          run: |
            echo "Starting test..."
            chmod +x ./test_sh_minishell.sh
            ./test_sh_minishell.sh
        - run: echo "Status - ${{ job.status }}."
